.give-funds-select-num-pages {
  display: inline-block;
  width: calc(100% - 500px);
  text-align: right;
}
.give-funds-select-num-pages select {
  margin-left: 10px !important;
}

.give-funds-select-fund-wrap {
  width: 100%;
}
.give-funds-select-fund-wrap select {
  padding: 5px;
  width: 100%;
  max-width: 100% !important;
}

#give-funds-overview-listtable {
  padding-top: 20px;
}

#give-funds-management-wrapper {
  padding-top: 30px;
  height: 100%;
}
#give-funds-management-wrapper .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
#give-funds-management-wrapper .column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#give-funds-management-wrapper .give-funds-delete-btn {
  border: none;
  font-weight: 500;
  color: #f00;
  margin-left: 10px;
}
#give-funds-management-wrapper .give-funds-default-row {
  display: inline-block;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-default-fund {
  display: inline-block;
  border: 1px solid #dfdfdf;
  background-color: #f5f5f5;
  border-radius: 4px;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-default-fund .text,
#give-funds-management-wrapper .give-funds-default-row .give-funds-default-fund .icon {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-default-fund .text span,
#give-funds-management-wrapper .give-funds-default-row .give-funds-default-fund .icon span {
  position: relative;
  top: -2px;
  left: 0;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-default-fund .icon {
  line-height: 30px;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-default-fund .text {
  margin-right: 20px;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-default-fund .info {
  font-size: 11px;
  text-transform: uppercase;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-default-fund .fund-name {
  font-size: 15px;
  font-weight: 700;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-default-fund-btn {
  position: relative;
  top: -14px;
  left: 20px;
  display: inline-block;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-default-fund-btn i {
  display: none;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-checked-btn {
  background-color: #66bb6a;
  color: #fff;
  border-color: #66bb6a;
  outline: none;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-checked-btn:focus {
  box-shadow: 0 0 0 1px #66bb6a !important;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-checked-btn i {
  display: inline-block;
  margin-top: 5px;
  margin-left: -5px;
}
#give-funds-management-wrapper .give-funds-default-row .give-funds-checked-btn #give-funds-btn-text {
  display: inline-block;
}
#give-funds-management-wrapper .give-funds-form-row {
  padding-bottom: 20px;
}
#give-funds-management-wrapper .give-funds-form-row label {
  display: block;
  padding-bottom: 8px;
  font-weight: 700;
}
#give-funds-management-wrapper .give-funds-form-row input {
  max-width: 500px;
  width: 100%;
  padding: 3px 5px;
}
#give-funds-management-wrapper .give-funds-form-row .give-funds-info {
  margin: 4px 0 0;
  max-width: 500px;
  display: block;
  color: #5a5a5a;
}

/*# sourceMappingURL=give-funds-admin.css.map */
