/**
Campaign Template
 **************************/

.campaign_list-template {
	.container-fluid {
		position: relative;
		z-index: 0;
		&.donations-options-wrapper {
			background-color: #2F56A6;
			margin-left: 0;
			margin-right: 0;
			margin-top: 7.4vh;
			position: relative;
			padding-left: 0;
			padding-right: 0;
			z-index: 500;
		}
		.container {
			&.top-buttons-container {
				padding: 5vh 0 0 0;
			}
		}
	}
	h1 {
		font-size: 2rem;
	}

	.container.bottom-go-back {
		margin-top: 10vh;
		padding: 0;
		position: relative;
		z-index: 20;

		a {
			color: #000;
		}
	}

	.angle-bg {
		height: 155px;
		background: #2F56A6;
		clip-path: polygon(0 0, 100% 0, 100% 100%);
		margin-top: -1px;
		position: relative;
		z-index: 0;
	}

	.angle-bg-bottom {
		height: 155px;
		background: #3C3C3C;
		clip-path: polygon(0 0, 0 100%, 100% 100%);
		margin-bottom: -1px;
		margin-top: -15vh;
		position: relative;
		z-index: -1;
	}


	.site-container {
		position: relative;
		z-index: 100;
		margin-top: -200px;
	}

	#donate-go-back {
		margin-left: auto;
		margin-right: auto;
		justify-content: flex-start;
		max-width: 1137px;
	}


	.go-back-donations {
		a {
			display: flex;
			color: #f5f5f5;
			font-size: 1.6rem;
			align-items: center;
			.fas {
				margin-right: 1em;
			}
		}
	}
	.container {
		&.donations-container {
			background-color: #eee;
			margin: 4.618em auto 2.618em auto;
			padding: 2.618em;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
		}
	}
}

@media screen and (max-width: 768.99px) {
	.campaign_list-template {
		.container-fluid.donations-options-wrapper {
			margin-top: 5vh;
		}
		.angle-bg-bottom {
			margin-top: -15vh;
		}
	}
}

@media screen and (max-width: 430.99px) {
	.campaign_list-template {
		.container-fluid.donations-options-wrapper {
			margin-top: 6vh;
		}

		.angle-bg {
			background: #2f56a6;
			-webkit-clip-path: polygon(0 0, 100% 100%, 100% 100%);
			clip-path: polygon(0 0, 100% 100%, 100% 100%);
		}

		#donate-go-back {
			justify-content: center;
		}

		.angle-bg-bottom {
			display: none;
		}

		.container.donations-container {
			margin: 4.618em auto 1.618em auto;
			padding: .618em;
			width: 95%;
		}
	}
}


